body {
    background-color: #f6f6f6;
}

.text-purple {
    color: #5D5FEF;
}

.bg-purple {
    background-color: #5D5FEF;
    color: white;
}

.inactive-category {
    text-decoration: none;
    color: #858585;
}

.active-category {
    text-decoration: none;
    color: #5D5FEF;
    background-color: #eeefff;
}

.btn-purple {
    background-color: #5D5FEF;
    color: white;
    font-weight: 500;
    transition: none;
}

.btn-rev-purple {
    background-color: white;
    color: #5D5FEF;
    border: 2px solid #5D5FEF;
    font-weight: 500;

}