body {
    background-color: #f6f6f6;
}

.text-purple {
    color: #5D5FEF;
}

.bg-purple {
    background-color: #5D5FEF;
    color: white;
}

.inactive-category {
    text-decoration: none;
    color: #858585;
}

.active-category {
    text-decoration: none;
    color: #5D5FEF;
    background-color: #eeefff;
}

.btn-clicked {
    background-color: #5D5FEF;
    color: white;
    font-weight: 500;
    transition: none;
}

.btn-clicked:hover {
    background-color: #5D5FEF;
    color: white;
    border-color: initial;
    box-shadow: none;
}

.btn-not-clicked {
    background-color: white;
    color: #5D5FEF;
    border: 2px solid #5D5FEF;
    font-weight: 500;

}

.btn-not-clicked:hover {
    background-color: white;
    color: #5D5FEF;
    border-color: initial;
    box-shadow: none;
}


.news-title {
    color: #121221;
    font-weight: 700;
    font-size: 24px;
}

.news-description {
    color: #949494;
    font-size: 16px;
    font-weight: 400;
}

.author-name {
    color: #2B2C34;
    font-size: 16px;
    font-weight: 500;
}

.publish-date {
    color: #718797;
    font-size: 14px;
    font-weight: 400;
}

.view-count {
    font-size: 18px;
    color: #515151;
    font-weight: 700;
}